APP_NAME="Name of the application"
APP_VERSION="Version of the application"

FILE_UPLOAD_EXTNSIONS=list[str]
FILE_MAX_SIZE=10

FILE_DEFAULT_CHUNK_SIZE=512000 #512KB


MONGO_DB_URL="url"
MONGO_DB_NAME="name"


NVIDIA_API_KEY=""
NVIDIA_BASE_URL=""
NVIDIA_MODEL=""

GENERATION_MODEL_BACK_END="nvidia"

EMBED_MODEL="nvidia"
EMBED_SIZE=384
EMBED_URL=""


DEFAULT_INPUT_MAX_CHARACTERS=1000
DEFAULT_OUTPUT_MAX_CHARACTERS=1000
DEFAULT_TEMPERATURE=0.2



DB_PATH=""
DISTANCE_DataBase_Matrix="cosine"
QDRANT="QDRANT"