APP_NAME="Name of the application"
APP_VERSION="Version of the application"

FILE_UPLOAD_EXTNSIONS=list[str]
FILE_MAX_SIZE=10

FILE_DEFAULT_CHUNK_SIZE=512000 #512KB


MONGO_DB_URL="url"
MONGO_DB_NAME="name"


NVIDIA_API_KEY=""
NVIDIA_BASE_URL=""
NVIDIA_MODEL=""

GENERATION_MODEL_BACK_END="nvidia"

EMBED_MODEL="nvidia"
EMBED_SIZE=384
EMBED_URL=""


DEFAULT_INPUT_MAX_CHARACTERS=1000
DEFAULT_OUTPUT_MAX_CHARACTERS=1000
DEFAULT_TEMPERATURE=0.2

GEMINI_API_KEY=""
GOOGLE_EMBED_MODEL_PROVIDER=""
GOOGLE_GENERATE_MODEL_PROVIDER=""
GOOGLE_EMBED_SIZE=768
GOOGLE_GENERATE_MODEL=""
GOOGLE_EMBED_MODEL=""

COHERE_EMBED_MODEL_PROVIDER="cohere"
COHERE_API_KEY=""
COHERE_EMBEDDING_MODEL_ID="embed-multilingual-light-v3.0"
COHERE_EMBEDDING_MODEL_SIZE=384

DB_PATH=""
DISTANCE_DataBase_Matrix="cosine"
DATA_BASE_PROVIDER="QDRANT"

DEFAULT_LANGUAGE=""